[run]
branch = True
parallel = True
source =
  _dependencies
  dependencies
  app
  helpers
  mddoctest
  pkg
  tests

[paths]
source =
  .tox/py27/lib/python2.7/site-packages
  .tox/py35/lib/python3.5/site-packages
  .tox/py36/lib/python3.6/site-packages
  .tox/py37/lib/python3.7/site-packages
  .tox/py38/lib/python3.8/site-packages
  .tox/doctest/lib/python3.8/site-packages
