[run]
branch = true
parallel = true
disable_warnings =
  module-not-imported
source =
  _dependencies
  dependencies
  app
  collector
  configuration
  examples
  examples1
  expect
  mddoctest
  tests

[paths]
source =
  src
  .tox/*/site-packages

[report]
exclude_lines =
  pragma: no cover
  raise RuntimeError
