[run]
branch = true
parallel = true
source =
  _dependencies
  dependencies
  app
  attributes
  configuration
  examples
  helpers
  mddoctest
  tests

[paths]
source =
  src
  .tox/*/site-packages

[report]
exclude_lines =
  pragma: no cover
  raise RuntimeError
