[flake8]
max-line-length = 88
eradicate-aggressive = true
ban-relative-imports = true
ignore = D105, D107, E741, W503
per-file-ignores =
  src/_dependencies/*.py: D100, D104
  testing/*.py: D100, D104
exclude =
  .coverage
  .coverage.*
  .mutmut-cache
  .pytest_cache/
  .tox/
  __pycache__/
  dist/
  htmlcov/
  node_modules/
  package-lock.json
  site/
  venv/
