*.egg-info/
*.ipynb
*.pyc
*~
.cache/
.coverage
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.tox/
[#]*[#]
__pycache__/
build/
dist/
docs/.doctrees/
docs/_build/
htmlcov/
node_modules/
package-lock.json
site/
