---
trigger:
  - release
  - develop
variables:
  ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
    source_branch_name: $(System.PullRequest.SourceBranch)
    should_review: true
    should_deploy: false
  ${{ if eq(variables['Build.Reason'], 'IndividualCI') }}:
    source_branch_name: $(Build.SourceBranchName)
    should_review: false
    should_deploy: true
jobs:
  - job: "Test"
    pool:
      vmImage: "ubuntu-latest"
    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: "3.7"
        displayName: Install Python 3.7.
      - task: UsePythonVersion@0
        inputs:
          versionSpec: "3.8"
        displayName: Install Python 3.8.
      - task: UsePythonVersion@0
        inputs:
          versionSpec: "3.9"
        displayName: Install Python 3.9.
      - task: UsePythonVersion@0
        inputs:
          versionSpec: pypy3
        displayName: Install PyPy.
      - task: NodeTool@0
        inputs:
          versionSpec: "16.6.2"
        displayName: Install NodeJS.
      - script: |
          git checkout release
          git checkout develop
          git checkout $(source_branch_name)
        displayName: Unshallow commit log.
      - script: pip install --upgrade tox
        displayName: Install Tox.
      - script: tox
        env:
          CI_PYTEST_FLAGS: >-
            --junitxml=junit-{envname}.xml -o junit_suite_name={envname} -o
            junit_family=xunit2 -o junit_log_passing_tests=true
          TOX_SKIP_ENV: mutmut
        displayName: Run Tox.
      # - script: .tox/mutmut/bin/mutmut junitxml > junit-mutmut.xml
      #   condition: always()
      #   displayName: Generate mutmut report.
      - task: PublishTestResults@2
        condition: always()
        inputs:
          testResultsFormat: JUnit
          testResultsFiles: junit-*.xml
        displayName: Publish test results.
      - script: .tox/coverage/bin/coverage xml
        condition: always()
        displayName: Generate coverage report.
      - task: PublishCodeCoverageResults@1
        condition: always()
        inputs:
          codeCoverageTool: cobertura
          summaryFileLocation: coverage.xml
        displayName: Publish coverage report.
      - script: |
          npm install --save-dev danger typescript
        condition: eq(variables['should_review'], 'true')
        displayName: Install Danger.
      - script: npx danger ci
        condition: eq(variables['should_review'], 'true')
        env:
          DANGER_FAKE_CI: YEP
          DANGER_TEST_REPO: $(Build.Repository.Name)
          DANGER_TEST_PR: $(System.PullRequest.PullRequestNumber)
          GITHUB_TOKEN: $(DANGER_GITHUB_TOKEN)
        displayName: Review pull request.
  - job: "Deploy"
    dependsOn:
      - "Test"
    condition: and(succeeded(), eq(variables['should_deploy'], 'true'))
    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: "3.9"
        displayName: Install Python.
      - task: NodeTool@0
        inputs:
          versionSpec: "16.6.2"
        displayName: Install NodeJS.
      - script: |
          git config --local user.name "Artem Malyshev"
          git config --local user.email "proofit404@gmail.com"
          git checkout release
          git checkout develop
          git checkout $(source_branch_name)
        displayName: Unshallow commit log.
      - script: pip install --upgrade tox
        displayName: Install Tox.
      - script: |
          curl -sSL "https://raw.githubusercontent.com\
          /python-poetry/poetry/master/get-poetry.py" | python
          echo '##vso[task.prependpath]$(HOME)/.poetry/bin'
        displayName: Install Poetry.
      - script: >-
          npm install --save-dev semantic-release @semantic-release/changelog
          @semantic-release/exec @semantic-release/git
        displayName: Install Semantic Release.
      - script: |
          npx semantic-release
        env:
          POETRY_PYPI_TOKEN_PYPI: $(SEMANTIC_RELEASE_PYPI_TOKEN)
          GITHUB_TOKEN: $(SEMANTIC_RELEASE_GITHUB_TOKEN)
        displayName: Release package.
      - script: |
          REMOTE="https://${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}"
          git remote set-url origin $REMOTE
          tox -e mkdocs -- gh-deploy --force
        env:
          GITHUB_TOKEN: $(SEMANTIC_RELEASE_GITHUB_TOKEN)
          GITHUB_REPOSITORY: $(Build.Repository.Name)
        condition: eq(variables['source_branch_name'], 'release')
        displayName: Deploy documentation.
