black
coverage
cruft
docformatter
eradicate
flake8
flake8-2020
flake8-annotations-complexity
flake8-blind-except
flake8-bugbear
flake8-builtins
flake8-cognitive-complexity
flake8-comprehensions
flake8-executable
flake8-expression-complexity
flake8-fixme
flake8-mutable
flake8-pytest
flake8-pytest-style
flake8-tidy-imports
mkdocs
mkdocs-material
mypy
poetry
pre-commit-hooks
pytest
pyupgrade
reorder-python-imports
toml-sort
xenon
yamllint
yesqa
